@using TandaOne
@model TandaOne.Models.TandaOneModel


@{
    ViewBag.Title = "login";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>trackinghour</legend>

        @* <div class="editor-label">
            @Html.LabelFor(model => model.EmployeeID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EmployeeID)
            @Html.ValidationMessageFor(model => model.EmployeeID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Surname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArrivalTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArrivalTime)
            @Html.ValidationMessageFor(model => model.ArrivalTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DepartureTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DepartureTime)
            @Html.ValidationMessageFor(model => model.DepartureTime)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
