@using TandaOne
@model IEnumerable<TandaOne.EmployeeDetail>

@{
    ViewBag.Title = "EmployeeDetail";
}

<h2>Employee Detail</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
     @*   <th>
            @Html.DisplayNameFor(model => model.currentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arrival)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departure)
        </th>*@
        <th></th>
    </tr>

 @foreach (EmployeeDetail employee in @Model)
    {
    <tr>
        
        <td>
           @Html.ActionLink(employee.Surname,"Index", "Trackinghours", new {employeeId = employee.EmployeeID}, null)
        </td>
      @*  <td>
            @Html.DisplayFor(modelItem => item.currentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arrival)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departure)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=employee.EmployeeID }) |
            @Html.ActionLink("Details", "Details", new { id=employee.EmployeeID  }) |
            @Html.ActionLink("Delete", "Delete", new { id=employee.EmployeeID  })
        </td>
    </tr>
}

</table>
