@*@model TandaOne.Models.TandaOneModel
@{
    ViewBag.Title = "TandaOne";
    
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
   
</hgroup>

<div>FirstName: @Model.FirstName</div>

<div>Surname: @Model.Surname</div>

<div>Date: @Model.Date</div>

<div>ArrivalTime: @Model.ArrivalTime </div>

<div>DepartureTime: @Model.DepartureTime </div>*@
